[include aux_fan.cfg]
# [include chamber.cfg]
[include nevermore.cfg]
[include bedfans.cfg]



#####################################################################
# Fan Control
#####################################################################

## HOT END FAN
[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: can0:FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

## PART COOLING
[fan]
pin: can0:FAN0
kick_start_time: 0.5
cycle_time: 0.010
off_below: 0.13

# [controller_fan MCU_fan]
# pin: gpio20
# max_power: 0.7 # 0.6
# kick_start_time: 0.5
# heater: extruder
# idle_speed: 0.45

[temperature_fan MCU_fan]
pin: gpio20
control: pid                                         
sensor_type: temperature_combined                                 
sensor_list: temperature_sensor mcu_temp, temperature_sensor pi
combination_method: mean
maximum_deviation: 999.9                                          # we don't care about the difference in temperature
max_temp: 85                                                      # just the valid temperature ranges
min_temp: 0
target_temp: 55
max_speed: 0.7
min_speed: 0.3
kick_start_time: 0.5
hardware_pwm: false
pid_Kp: 1 
pid_Ki: 1
pid_Kd: 1
off_below: 0.4

[menu __main __fans]
name: Fans
type: list
